<h4>Book Details!</h4>
<!-- <pre>{{ book | json }}</pre> -->
<a [routerLink]="['..']" class="btn btn-primary">Back</a>
<a routerLink="edit" class="btn btn-danger">Edit</a>
<button (click)="setParam()" class="btn btn-info right">Next Book</button>
<div class="panel panel-default" *ngIf="yeah$ | async as book">
  <div class="panel-heading">{{ book.title }} ({{ book.isbn }})</div>
  <div class="panel-body" appOrderBtn="Moin!!!">
    <p>
      {{ book.abstract }}
      <span class="badge">{{ book.numPages | page }}</span>
    </p>
    <p>{{ book.publisher.name }} ({{ book.publisher.url }})</p>
  </div>
  <div class="panel-footer">{{ book.author }}</div>
</div>
<!-- {{ hurz | page }}
{{ transform(hurz) }} -->
